---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Sorry for the Spam</title>
  <subtitle>The Adventures of Dan Schultz</subtitle>
  <link href="https://slifty.com/feed.xml" rel="self"/>
  <link href="https://slifty.com/"/>
  <updated>
    {%- if collections.posts and collections.posts.length > 0 -%}
      {{ collections.posts[0].date | dateToRfc3339 }}
    {%- else -%}
      {{ "now" | dateToRfc3339 }}
    {%- endif -%}
  </updated>
  <id>https://slifty.com/</id>
  <author>
    <name>Dan Schultz</name>
    <email>hello@slifty.com</email>
  </author>
  {%- for post in collections.posts | limit(20) %}
  {%- set absolutePostUrl %}https://slifty.com{{ post.url }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html"><![CDATA[{{ post.templateContent | safe }}]]></content>
  </entry>
  {%- endfor %}
</feed>
